.submitM {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #795548;
    display: block; 
    margin: 0 auto; 
    width: fit-content;
  }
  
  .submitM:hover {
    background-color: #00bfff96;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  .botonesM-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    margin-top: 20px;
  }